.navbar {
    background: #0c120c;
    font-family: "sans-serif";
    color: dodgerblue;

}

.navbar-brand {
    font-style: inherit;
    color: inherit;
}

.navbar a {
    color: dodgerblue;
}

.navbar a:hover {
    color: white;
}

