[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
sphinx = "*"
bootstrap4 = "*"
"html.parser" = "*"
flask = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
jinja2 = "*"

[requires]
python_version = "3.8"
