{% extends 'base.html' %}

{% block content %}
<div class="about-section">
    <h1>About</h1>
    <p>This is an attempt to create an application that wil allow you to organize your vinyl collection</p>
    <p>If you are anything like me, you are constantly reorganizing, or <b>trying</b> to organize in a more</p>
    <p>useful or intuitive manner. This application will hopefully allow you to do so with a bit more ease</p>
</div>

<h2 style="text-align:center">The Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="#" alt="Ricky" style="width:25%">
            <div class="container">
                <h2>Ricky Chance</h2>
                <p class="title">Lead Developer, Designer</p>
                <p>ricky.chance@gmail.com</p>
                <p>Github link: https://github.com/Rick1310</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>

</body>

</html>

{% endblock %}